In [1]:
%matplotlib inline

In [7]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
plt.rcParams['figure.figsize'] = (20.0,10.0)

In [14]:

data = pd.read_csv('F:\\Machine Leanring\\machine Master\\slides\\CSV files\\GPA_data.CSV')
print(data.shape)
data.head()

(1000, 8)

,ID,Gender,Age,Extra_Curricular,Study_Hours,Annual_Income,Distance_From_Home,GPA
0,8867,Male,22,Societies,10,1318792,154,1.76
1,1316,Female,24,Societies,9,874657,181,3.88
2,9443,Male,22,Societies,15,1098331,94,1.73
3,1829,Female,25,No,9,1680585,8,1.29
4,1989,Male,26,No,7,1361560,122,3.19

In [16]:
#collecting x and y
x = data['Distance_From_Home'].values
y = data['GPA'].values

In [20]:
#Mean X and Y
mean_x = np.mean(x)
mean_y = np.mean(y)

#Toatl number of values
m = len(x)

#using the formula to calculate b1 and b2
numer = 0
denom = 0
for i in range(m):
    numer +=(x[i] - mean_x)* (y[i]-mean_y)
    denom +=(x[i]-mean_x)**2
    
b1=numer/denom
b0= mean_y - (b1*mean_x)

#print_cofficients
print(b1,b0)

-0.0005199528867903039 2.548138552848107